
@font-face {
    font-family: 'codec_proregular';
    src: url('codec-pro.regular-webfont.woff2') format('woff2'),
         url('codec-pro.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'codec_probold';
    src: url('codecpro-bold-webfont.woff2') format('woff2'),
         url('codecpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
